@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .card {
    @apply box-border min-w-[350px] max-w-full flex flex-col w-full sm:w-1/2 md:w-1/3 lg:w-1/4  text-white p-4 rounded-lg max-h-fit;
  } */
  .card {
    @apply box-border min-w-[350px] flex flex-col w-full sm:w-1/2 md:w-1/3 lg:w-1/4 text-white p-4 rounded-lg max-h-fit;
  }
  .title {
    @apply text-3xl font-bold mb-4;
  }
  .bg-dashboard{
    @apply bg-[#565656];
  }
  .shadow-green{
    @apply shadow-[0px_0px_14px_1px_#73FF50];
  }
  .input{
    @apply bg-[#222222] text-white border border-gray-600 rounded py-2 px-3 w-full;
  }
  .button{
    @apply mt-3 rounded-lg text-2xl bg-[#444444] border-[1px] border-separate border-[#73FF50] p-4 text-[#73ff50] text-white w-full;
  }
}